{% extends "share/base.html" %} -->

<!-- {% block content %}

<h2 class="title is-2">Python script </h2>
        <div class="box">
        <div class="content">
              Title of the python script: {{ my_script.title }} <br>
              Description: {{ my_script.description }} <br>
              Created on {{ my_script.created }} <br>
              Problem that solves: {{ problem.title}}, posted by {{problem.coder.user.username}} <br>
              <br>
              <br>
              <div class="box">
              Python script:
                    <div class="code">
                          <br>{{ my_script.code }}
                      </div>
              </div>

              {% if user.id == script.coder.user.id %}
                <a class="button is-primary is-medium" href="{% url 'share:edit_script' script.id %}">Make changes to this script </a>


        </div>
    </div>

{% endblock content %}
